@media (max-width: 1234px){
    h1{ 
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.6rem;
    }
    h3{
        font-size: 1.9rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.8rem;
    }
    .retreat{
        padding-inline: 70px;
    }
    .search-holder{
        width: 30vw;
        min-height: 2.4em;
    }
    p, li{
        font-size: 15px;
    }
    .star1{
        top:250px;
    }

}

@media (max-width: 1040px){
    h1{ 
        font-size: 3.0rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.6rem;
    }
    p, li{
        font-size: 14px;
    }
    .retreat{
        padding-inline: 64px;
    }
    .search-holder{
        width: 28vw;
    }
    .star1{
        top:220px;
    }
    .menu li a{ padding: 0 8px; }
    .menu ul li a{ padding-left: 20px; }
    /* header{ margin: 12px 0; } */
}

@media (max-width: 950px){
    h1{ 
        font-size: 2.8rem;
    }
    h2{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h5{
        font-size: 0.7rem;
    }
    p, li{
        font-size: 13px;
    }
    .retreat{
        padding-inline: 50px;
    }
    .search-holder{
        width: 26vw;
    }
    .menu li a{
        padding: 0 6px;
    }
    .hero-section{padding-top: 5%;}
    .hero-section button{ margin-bottom: 6%;}
    .statistics{ flex-wrap: wrap; }
    .statistics  div:last-child{
        flex-basis: 100%;
        margin-top: 4px;
    }
    .statistics  div div{
        width: fit-content;
        margin: 0 auto;
    }
    .star1{
        top:190px;
        left: 20px;
    }
    .statistics .vertical-line:nth-last-child(2){ display: none;}
}
@media (max-width: 860px){
    h1{ font-size: 2.5rem }
    /* h2{} */
    h3{ font-size: 1.2rem;}
    .retreat{ padding-inline: 40px; }
    .search-holder{ width: 44vw;}
    .search-container input{ min-height: 40px;}
    .market-name{ font-size: 1.7rem;}
    .burger-menu{ display: flex; }
    .header-nav{
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;left: 0;right: 0;bottom: 0;
        padding: 100px 0;
        height: 100vh;
        width: 220px;
        z-index: 99;
        background-color:  #101010;
    }

    .star1{
        top:170px;
        left: 26px;
    }

    nav > ul{display: flex; flex-direction: column;}

    .menu li a{ color:white;}
    .menu li a svg path{ fill: #fff; }

    .menu li{
        padding: 10px 0 10px 44px;
    }
    .menu ul{
        top: 0;
        left: 220px;
        border-radius: 0px 0px;

    }
}

@media (max-width: 767px){
    h1{
        font-size: 2.4rem
    }
    .burger-menu{
        margin-top: 1px;
    }
    
    .retreat{
        padding-inline: 16px;
    }

    .star1{
        top:130px;
        left: 40px;
    }
    .hero-section{
        padding: 4% 0px;
        
    }
    .hero-section > p{
        margin: 3% 0;
    }
    .footer-main{ padding-block: 20px;}
}

@media (max-width: 682px){
    /* .footer-main:nth-child(4){
        flex-basis: 0 0 50%;
    }
    .footer-main:nth-child(5){
        flex-basis: 0 0 50%;
    } */


    .main-conteiner{
        flex-direction: column;
    }
    .hero-section{
        box-sizing: border-box;
        padding-inline: 80px;
        text-align: center;
        width: 100%;
        padding-bottom: 0;
    }
    .people{
        margin-inline: auto;
        width: 80%;
    }
    .star1{
        top:173px;
        left: 56px;
    }
    .star2{
        top:49px;
        right: 34px;
    }
    .footer-main{
        padding-block: 22px;
    }
    .input {
        font-size: 14px;
    }
      
    input::placeholder {
        font-size: 14px;
    }

    .footer-main:nth-child(4){ flex-basis: 40%; }
    .footer-main{ padding: 30px 80px;}
    .footer-main img{ height: 4vw; }
}

@media (max-width: 536px){
    .hero-section{
        padding-inline: 30px;
        text-align: inherit;
    }
    .statistics{ justify-content: space-around;}
    .hero-section button{ width: 100%;}
    .sign-offer{ font-size: 12px; }
    .search-holder{ width: 40vw; }
    .input{ padding-left: 40px; }
    .search-holder{ width: auto; }
    .market-name.hide{ display: none;}
    .footer-main img{ height: 4vw; }
}
@media (max-width: 438px){
    h1 { font-size: 36px; }
    .people{ width: 100%; }
    .footer-main{justify-content: space-around;}
    .footer-main img{ height: 4vw; }
    .hero-section{ padding-inline: 10px; }
}