.search-container{
  width: 30px;
  transition: all 0.5s cubic-bezier(.68, -0.55, 0.265, 1.55);
}

.search-container.active{
  width: 100%
}

.search-container input{
  border: none;
  cursor: default;
  font-size: 18px;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(.68, -0.55, 0.265, 1.55);
}


.search-container input.active{
  opacity: 1;
  cursor: text;
  padding-right:20px;
}

.search-container button{
  left:0;
  height: 40px;
  width: 40px;
  transition: all 0.5s cubic-bezier(.68, -0.55, 0.265, 1.55);
}
.search-container button svg path{ fill: black}

.search-container button.active svg path{ fill:#00000066}
.search-container button.active{
  left: 5px;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
}
