.search-holder{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

.search-container{
  width: 100%;
}

.input{
  box-sizing: border-box;
  background-color: #F0F0F0;
  font-family: 'Satoshi';
  font-size: 16px;
  border-width: 2px;
  border-color: rgba(245, 222, 179, 0);
  border-radius: 30px;
  padding-left: 50px;
  min-height: 48px;
  width: 100%;
}

.input:focus{
  border: 2px solid #ccc3c3;
  outline: none;
}

.search-container{
  box-sizing: border-box;
  position: relative;
}
.search-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top:50%;
  transform: translateY(-50%) ;
  left: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}
.search-container button svg path{ fill: #00000066}




